.DS_Store
.idea/
.vscode/

logs/
*.log

bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.html
coverage.json
allure-results/
allure-report/
.gocove/

node_modules/
dist/
.vite/
*.tsbuildinfo

.env
.env.*
